html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: var(--text-color);
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a:hover {
  opacity: 0.75;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
